.tribute {
  background-color: rgb(224, 228, 227);
}
.heading h1 {
  text-align: center;
  font-size: x-large;
  color: rgb(26, 24, 24);
  font-family: Arial;
}
.heading h2 {
  text-align: center;
  font-size: small;
  font-weight: 300;
  color: rgb(70, 65, 65);
  font-family: Arial;
}
.photo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 152px;
}
.photo p {
  font-size: 6px;
  color: rgb(43, 41, 41);
  text-align: center;
}
.photo h3 {
  font-size: small;
  font-family: Arial;
  text-align: center;
}
.para {
  font-family: Arial;
  font-size: 5.5px;
  color: rgb(75, 72, 72);
  text-align: center;
}
.list h4 {
  font-size: large;
  font-family: Arial;
  text-align: center;
}
.list ul {
  font-size: 5.5px;
  font-family: Arial;

  color: rgb(65, 60, 60);
  margin-left: 70px;
}
.orderedlist h4 {
  font-size: small;
  font-family: Arial;
  text-align: center;
}
.orderedlist p {
  font-family: Arial;
  font-size: 6px;
  text-align: center;
}
.orderedlist ol {
  font-family: Arial;
  font-size: 5.5px;
  margin-left: 80px;
}
.lastpara p {
  font-family: Arial;
  font-size: 5px;
  margin-left: 120px;
}
.lastpara h4 {
  font-size: small;
  font-family: Arial;
  text-align: center;
}
.lastpara ul {
  font-family: Arial;
  font-size: 6px;
  margin-left: 80px;
}
